TYPHOON_API_KEY=your_api_key_here
PORT=5005
DEBUG=True
LINE_CHANNEL_ACCESS_TOKEN=line_channel_access_token_here
LINE_CHANNEL_ACCESS_TOKEN_TEST=line_channel_access_token_test_here
LINE_DATA_API=https://api-data.line.me/v2
LINE_API=https://api.line.me/v2
LINE_VERIFY_URL=https://api.line.me/oauth2/v2.1/verify
FRONTEND_URL=domain_frontend_url_here
ADMIN_URL=domain_admin_url_here
DATABASE_URL=database_connection_url_here
CRON_SECRET_TOKEN=cron_scret_token_here
LINE_LIFF_ID=line_liff_id_here
LINE_LIFF_ID_TEST=line_liff_id_test_here
LINE_CHANNEL_ID_TEST=line_channel_id_test_here
LINE_CHANNEL_ID=line_channel_id_here
LINE_CHANNEL_SECRET_TEST=line_channel_secret_test_here
LINE_CHANNEL_SECRET=line_channel_secret_here
TEST_MODE=True
CLOUNDIARY_NAME=cloudinary_name_here
CLOUDINARY_API_KEY=cloudinary_api_key_here
CLOUDINARY_API_SECRET=cloudinary_api_secret_here
FIREBASE_ACCOUNT_KEY=firebase_account_key_here