fastapi==0.135.2
requests==2.32.5
openai==2.29.0
uvicorn==0.42.0
gunicorn
sqlmodel==0.0.37
python-multipart==0.0.22
python-dotenv==1.2.2
psycopg2-binary==2.9.11
line-bot-sdk==3.22.0
Pillow==12.2.0
cloudinary==1.44.2
pydantic-settings==2.13.1
firebase-admin==7.4.0
SQLAlchemy==2.0.48
pydantic==2.12.5
starlette==1.0.0
